# Servidor
PORT=3000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=centrosoft
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=TU_CLAVE_SECRETA_AQUI
JWT_EXPIRES_IN=8h